.cart-modal-phone {
  height: 650px;
  background-color: blue;
}

.cart-modal-tablet {
  height: 650px;
  background-color: green;
}

.cart-modal-desktop {
  height: 650px;
  background-color: yellow;
}
