.cart-header {
  padding-top: 9px;
  padding-bottom: 9px;
  height: 42px;
  background-color: black;
}

.cart-counter-label {
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium;
  border-radius: 7px;
  font-weight: bolder;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  background-color: white;
}

.cart-list {
  height: 460px;
  background-color: yellow;
}

.cart-total {
  color: black;
  font-weight: bold;
  background-color: white;
}

.cart-txt-phone {
  text-align: right;
  font-size: small;
}

.cart-txt-desktop {
  text-align: right;
  font-size: larger;
}

.cart-total-left-padding-phone {
  min-width: 45px;
}

.cart-total-left-padding-desktop {
  min-width: 65px;
}

.cart-submit {
  height: 92px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
  background-color: green;
}
