
  <div class="container">
    <div class="row justify-content-center cart-header">
      <div class="d-flex justify-content-end">
        <div class="cart-counter-label">{{counter}}</div>
      </div>
    </div>
    <div *ngIf="mediaSize === 'desktop'" class="cart-txt-desktop">
      <div class="row justify-content-center cart-scroll">
        <div *ngFor="let cartItem of cartItems" class="cart-item-desktop">
          <div class="row justify-content-start">
            <div class="d-flex justify-content-start">
              <div class="cart-item-desktop-quantity">{{ cartItem?.quantity }}</div>
              <div class="cart-item-description">{{ cartItem?.title }}</div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="d-flex justify-content-between">
              <div>Add-ons(3)</div>
              <div>{{ cartItem?.price }} cr</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row cart-total">
        <div class="d-flex justify-content-end">
          <div>Subtotal:</div>
          <div class="cart-total-left-padding-desktop">
            {{subTotal}} cr
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div>Tax:</div>
          <div class="cart-total-left-padding-desktop">
            {{tax}} cr
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div>Total:</div>
          <div class="cart-total-left-padding-desktop">
            <div>{{total}} cr</div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center cart-submit">
        Submit
      </div>
    </div>
    <div *ngIf="mediaSize === 'phone'" class="cart-txt-phone">
      <div class="row justify-content-center cart-scroll">
        <div *ngFor="let cartItem of cartItems" class="cart-item-phone">
          <div class="row justify-content-start">
            <div class="d-flex justify-content-start">
              <div class="cart-item-phone-quantity">{{ cartItem?.quantity }}</div>
              <div class="cart-item-description">{{ cartItem?.title }}</div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="d-flex justify-content-between">
              <div>Add-ons(3)</div>
              <div>{{ cartItem?.price }} cr</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row cart-total">
        <div class="d-flex justify-content-end">
          <div>Subtotal:</div>
          <div class="cart-total-left-padding-phone">
            {{subTotal}} cr
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div>Tax:</div>
          <div class="cart-total-left-padding-phone">
            {{tax}} cr
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div>Total:</div>
          <div class="cart-total-left-padding-phone">
            <div>{{total}} cr</div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center cart-submit">
        Submit
      </div>
    </div>
</div>

<!-- <div>
  <h2>Version {{ name }}</h2>
  <h2>mediaSize {{ mediaSize }}</h2>
  <p>Modal dynamic data!</p>
</div> -->
