.cart-header {
  padding-top: 9px;
  padding-bottom: 9px;
  height: 42px;
  background: #ece03a;
}

.cart-counter-label {
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium;
  border-radius: 12px;
  font-weight: bolder;
  text-align: center;
  color: white;
  background-color: black;
}

.cart-scroll {
  height: 440px;
  font-weight: 500;
  color: white;
  background-color: rgba(7, 7, 7, 0.9);
  overflow-y: auto;
}

.cart-list-container {
  display: inline-block;
  vertical-align: top;
}

.cart-item-not-selected-card {
  background-color: black;
  margin-top: 4px;
  margin-bottom: 4px;
}

.cart-item-selected-card {
  background-color:rgba(42, 42, 42, 0.9);
  margin-top: 4px;
  margin-bottom: 4px;
}

.cart-txt-desktop {
  text-align: right;
  font-size: larger;
}

.cart-txt-phone {
  text-align: right;
  font-size: small;
}

.cart-total-left-padding-desktop {
  min-width: 115px;
}

.cart-total-left-padding-phone {
  min-width: 80px;
}

.cart-item-quantity {
  margin-left: 2%;
  text-align: left;
  min-width: 6%;
}

.cart-item-description {
  max-width: 500px;
  margin-right: 2%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.cart-item-price {
  margin-right: 2%;
}

.cart-item-phone {
  height: 91px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.cart-item-packages {
  margin-left: 2%;
}

.cart-remove-desktop-btn {
  height: 43px;
  width: 165px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-top: 8px;
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bolder;
  font-size: large;
}

.cart-cancel-desktop-btn {
  height: 43px;
  width: 165px;
  margin-top: 5px;
  margin-left: 6px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-top: 8px;
  text-align: center;
  background-color: orange;
  color: white;
  font-weight: bolder;
  font-size: large;
}

.cart-edit-desktop-btn {
  height: 45px;
  width: 165px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-top: 8px;
  text-align: center;
  background-color: blue;
  color: white;
  font-weight: bolder;
  font-size: large;
}

.cart-remove-phone-btn {
  height: 38px;
  width: 130px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-top: 10px;
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bolder;
  font-size: small;
}

.cart-cancel-phone-btn {
  height: 38px;
  width: 130px;
  margin-top: 5px;
  margin-left: 6px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-top: 10px;
  text-align: center;
  background-color: orange;
  color: white;
  font-weight: bolder;
  font-size: small;
}

.cart-edit-phone-btn {
  height: 40px;
  width: 130px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-top: 10px;
  text-align: center;
  background-color: blue;
  color: white;
  font-weight: bolder;
  font-size: small;
}

.cart-total {
  font-weight: bold;
  color: black;
  background-color: white;
}

.cart-submit {
  height: 92px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
  background-color: green;
}
