
.header-title {
	background-color: transparent;
	color: #ece03a;
	font-weight: bold;
	font-size: larger;
}

.header-version {
	background-color: transparent;
	color: #ece03a;
	font-weight: bold;
	font-size:x-small;
}

.desktop-searchbar {
	color: black;
	background-color: rgb(194, 192, 192);
	width: 300px;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}
.desktop-searchbar:hover,
.desktop-searchbar:active,
.desktop-searchbar:focus {
	background-color: rgb(194, 192, 192);
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}

.header-login-order {
	color: white;
	font-weight: 600;
	font-size: x-small;
	margin: 0px;
	text-decoration: none;
}
