.header-title {
	color: #F1E207;
	background-color: #212529;
	font-weight: bold;
	font-size: larger;
	margin-right: .5rem;
}

.form-control {
	border-radius: 3px;
	width: 142px;
}

.header-background {
	background-color: transparent;
}

.header-input {
	color: white;
	background-color: #545454;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}

.header-input:hover,
.header-input:active,
.header-input:focus {
	background-color: #545454;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}
.btn {
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}
