
<ngx-smart-modal 
  #cart [identifier]="'cart'"
  target=".cart-modal-anchor"
  [closable]="false" 
  [dismissable]="true">
  <cart-modal
    mediaSize="{{ mediaSize }}"
    counter="{{ counter }}"
    [cartItems]="cartItems"
    subTotal="{{ subTotal }}"
    tax="{{ tax }}"
    total="{{ total }}"
  >
  </cart-modal>
</ngx-smart-modal>

<div class="cart-modal-anchor"></div>

<header>
  <div *ngIf="mediaSize === 'desktop'">
    <div class="d-flex flex-wrap align-items-start">
      <div class="p-1 ps-2 pe-2">
        <div class="header-title" href="#">Skippywars</div>
        <div class="header-version">{{nGVersion}}</div>
      </div>
      <div class="d-flex mt-2 pe-3">
        <input type="text" class="form-control desktop-searchbar"
          [(ngModel)]="searchTerm" name="searchTerm" (keyup)="search($event)"
          placeholder="Search Equipment">
      </div>
      <div class="p-2 pe-5 header-login-order">
        <div class="row">
          <div class="row">Hello Guest</div>
          <div class="row fs-6 fw-bold">Sign In</div>
        </div>
      </div>
      <div class="p-2 pe-2 header-login-order">
        <div class="row">
          <div class="row">Returns</div>
          <div class="row fs-6 fw-bold">& Orders</div>
        </div>
      </div>
      <div class="mt-2 ms-auto">
        <button (click)="this.openCartModal()" class="btn">
          <i style="font-size: 27px; color: white" class="fa fa-cart-plus"></i>
          <div style="font-size: 12px; min-width: 27px;" class="badge bg-danger">{{ this.cartService.getTotalCount() }}</div>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="mediaSize === 'tablet'">
    <div class="row p-1 ps-2">
      <div class="d-flex flex-wrap align-items-start">
        <div>
          <div class="header-title" href="#">Skippywars</div>
          <div class="header-version">{{nGVersion}}</div>
        </div>
        <div class="d-flex mt-1 ps-2">
          <input type="text" class="form-control desktop-searchbar" [(ngModel)]="searchTerm" name="searchTerm"
            (keyup)="search($event)" placeholder="Search Equipment">
        </div>
        <div class="mt-1 ms-auto">
          <button (click)="this.openCartModal()" class="btn">
            <i style="font-size: 27px; color: white" class="fa fa-cart-plus"></i>
            <div style="font-size: 12px; min-width: 27px;" class="badge bg-danger">{{ this.cartService.getTotalCount() }}</div>
          </button>
        </div>
      </div>
      <div class="d-flex flex-wrap align-items-start ps-3">
        <div class="p-2 pe-5 header-login-order">
          <div class="row">
            <div class="row">Hello Guest</div>
            <div class="row fs-6 fw-bold">Sign In</div>
          </div>
        </div>
        <div class="p-2 pe-2 header-login-order">
          <div class="row">
            <div class="row">Returns</div>
            <div class="row fs-6 fw-bold">& Orders</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="mediaSize === 'phone'">phone</div>
</header>