<div class="container">
  <div class="row d-flex justify-content-start cart-item-header">
    {{title}}
  </div>
  <div *ngIf="mediaSize === 'desktop' || mediaSize === 'tablet'" class="row justify-content-center cart-desktop">
    Desktop and tablet
    <div class="row d-flex justify-content-end">
      BUTTON
    </div>
  </div>
  <div *ngIf="mediaSize === 'phone'" class="row justify-content-center cart-phone">
    Phone
    <div class="row d-flex justify-content-end">
      BUTTON
    </div>
  </div>
</div>
