<div class="container">
  <div class="row d-flex justify-content-start cart-item-header">
    {{title}}
  </div>
  <div *ngIf="mediaSize === 'desktop' || mediaSize === 'tablet'" class="cart-item-txt-desktop">
    <div class="row align-items-start">
      <div class="col">
        <div class="row cart-item-desktop-image">
          Cart Item Image
        </div>
        <div class="row cart-item-desktop-specs">
          Cart Item Specs
        </div>
      </div>
      <div class="col">
        <div class="row cart-item-desktop-options">
          Cart Item Option List
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="mediaSize === 'phone'" class="cart-item-txt-phone">
    <div class="row justify-content-center cart-item-phone-image">
      Cart Item Image
    </div>
    <!-- <div class="row cart-item-phone-specs">
      Cart Item Specs
    </div> -->
    <div class="row cart-item-phone-options">
      Cart Item Option List
    </div>
  </div>
  <div class="row cart-item-total">
    <div class="d-flex justify-content-end">
      <div>Subtotal:</div>
      <div class="cart-item-total-left-padding-desktop">
        subtotal cr
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <div>Tax:</div>
      <div class="cart-item-total-left-padding-desktop">
        tax cr
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <div>Total:</div>
      <div class="cart-item-total-left-padding-desktop">
        total cr</div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center cart-item-submit">
    Add To Cart
  </div>
</div>
