.cart-item-header{
  padding-top: 6px;
  padding-bottom: 9px;
  padding-left: 10px;
  height: 42px;
  font-weight: bold;
  font-size: large;
  color: black;
  background: #ece03a;
}

.cart-item-txt-desktop {
  text-align: right;
  font-size: larger;
}

.cart-item-desktop-image-specs {
  width: 60%;
}

.cart-item-desktop-image {
  height: 300px;
  background-color: blue;
}

.cart-item-desktop-specs {
  height: 150px;
  background-color: purple;
}

.cart-item-desktop-options {
  width: 40%;
  height: 450px;
  background-color: red;
}

.cart-item-txt-phone {
  text-align: right;
  font-size: small;
}

.cart-item-phone-image {
  height: 300px;
  background-color: blue;
}

// .cart-item-phone-specs {
//   height: 140px;
//   background-color: purple;
// }

.cart-item-phone-options {
  height: 185px;
  background-color: red;
}

.cart-item-total {
  font-weight: bold;
  color: black;
  text-align: right;
  font-size: larger;
  background-color: white;
}

.cart-item-total-left-padding-desktop {
  min-width: 115px;
}

.cart-item-submit {
  height: 65px;
  padding-top: 8px;
  padding-bottom: 10px;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
  background-color: green;
}