<div class="container">
  <div class="row justify-content-center">
    <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
      <div class="card col-lg-5 col-md-5 col-sm-7 m-3 card-style">
        <img class="card-img-top" src="{{item.image}}" alt="">
        <div class="card-body">
          <h3>{{item.title}}</h3>
          <div class="mb-2">{{item.description}}</div>
          <p><strong>Price:</strong> ${{item.price}}</p>
        </div>
        <button class="btn btn-primary m-3" (click)=addtocart(item)>Add to cart</button>
      </div>
    </ng-container>
  </div>
</div>