// @media screen and (max-width: 992px) {}
// @media screen and (max-width: 992px) {}
// @media screen and (max-width: 576px) {}\

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-size: cover;
  background-image: url("./assets/images/starwars-shady-bg.jpg");
}
