// @media screen and (max-width: 992px) {}
// @media screen and (max-width: 992px) {}
// @media screen and (max-width: 576px) {}\

@import "./custom-styles/ngx-smart-modal-custom.scss";

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-size: cover;
  background-image: url("./assets/images/starwars-shady-bg.jpg");
}

.cart-modal-anchor {
  position: absolute;
  right: 17.5%;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #F1E207;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #F1E207;
}